entrypoint = "index.html"
modules = ["web", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
deploymentTarget = "gce"
build = ["sh", "-c", "npm run build "]
run = ["sh", "-c", "node server.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application "
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server & npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Capacitor iOS Build"
mode = "sequential"
author = 49911750

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server & npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:1.0.0"]
